<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Project Learner</h1>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<section>

    <form method="post">
        <label for="name">Enter Subject name: </label>
        <input name="name" id="name" required>
        <input type="submit" value="Create Subject">
    </form>

    <!-- flask for list items -->
    <!-- {% for item in subjects %}
    <div class="item">
        <h2>{{ item.name }}</h2>
        <p>{{ item.text }}</p>
    </div>
    {% endfor %} -->
</section>