<!doctype html>

<head>

    <title>{% block title %}{% endblock %} - Flaskr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<section>

    <!-- tailwind admin navbar -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a class="font-semibold text-xl tracking-tight">
                Project Learner Admin Panel / Subjects
            </a>
        </div>

    </nav>

    <!-- tailwind heading -->
    <div class="flex flex-col md:flex-row">
        <div class="flex-1 min-h-screen">
            <div class="flex flex-col items-center justify-center p-6 md:p-12">
                <h1 class="text-center text-3xl font-bold leading-tight">
                    Subjects
                </h1>
                <p class="text-center font-light leading-tight">
                    Here you can view and manage all subjects.
                </p>

                <br><br>
                <hr><br>

                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Sl.no</th>
                            <th class="px-4 py-2">Subject Name</th>
                            <th class="px-4 py-2">Visit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in subjects %}
                        <tr>
                            <td class="border px-4 py-2">{{ item.id }}</td>
                            <td class="border px-4 py-2">{{ item.name }}</td>
                            <td class="border px-4 py-2">
                                <!-- tailwind button like a -->
                                <a href="{{ url_for('admin.subjects_show', subject_id=item.id) }}"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    View
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>