<!doctype html>

<head>
    <title>{{ subject.name }} | Project Learn</title>
    <script src="{{ url_for('static', filename='tailwind.js') }}"></script>
</head>

<section>
    <!-- tailwind admin navbar -->
    <nav class="flex items-center justify-between flex-wrap bg-gray-800 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/" class="text-white font-bold no-underline">
                <span class="text-xl">Project Learner</span>
            </a>
        </div>
        <div class="flex items-center flex-shrink-0 text-white">
            <a href="/" class="text-white font-bold no-underline px-2">
                <span class="text-xl">Home</span>
            </a>
            <a href="#subjects" class="text-white font-bold no-underline px-2">
                <span class="text-xl">Subjects</span>
            </a>
            <a href="#aboutus" class="text-white font-bold no-underline px-2">
                <span class="text-xl">About</span>
            </a>
        </div>
    </nav>
    <!-- tailwind heading -->
    <div class="flex flex-col md:flex-row">
        <div class="flex-1 min-h-screen">
            <div class="flex flex-col items-center justify-center p-6 md:p-12">
                <h1 class="text-center text-3xl font-bold leading-tight">
                    {{ subject.name }}
                </h1>
                <p class="text-center font-light leading-tight">
                    {{ subject.description }}
                </p>

                <br><br>
                <hr><br>

                <table class="table-auto">
                    <thead>
                        <tr>
                            <th class="px-4 py-2">Sl.no</th>
                            <th class="px-4 py-2">Topic Name</th>
                            <th class="px-4 py-2">Topic Overview</th>
                            <th class="px-4 py-2">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in topics %}
                        <tr>
                            <td class="border px-4 py-2">{{ item.id }}</td>
                            <td class="border px-4 py-2">{{ item.name }}</td>
                            <td class="border px-4 py-2">{{
                                item.content[:
                                30 if 30 < item.content.__len__() else item.content.__len__()]+'...' }} </td>
                            <td class="border px-4 py-2">
                                <!-- tailwind button like a -->
                                {% if item.score %}
                                Complete previous topic
                                {% else %}
                                {% if not item.allowed %} <p> Complete before topic</p>
                                {% else %}
                                <a href="{{ url_for('read_topic', topic_id=item.id) }}"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    Read
                                </a>
                                {% endif %}
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>