<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic</title>
    <link rel="stylesheet" href="{{ url_for('static',  filename='bootstrap.min.css')}}">
    <script src="{{ url_for('static',  filename='showdown.css')}}"></script>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{{ url_for('subjects_show', subject_id= topic.subject_id)}}" class="btn-close btn-close-white"
                aria-label="Close"></a>
            <a class="navbar-brand" href="{{url_for('admin.admin_home')}}">Project Learn</a>
            <div class="navbar navbar-expand" id="navbarNav">
                <a href="{{ url_for('quiz_attempt', topic_id=topic.id) }}" class="btn btn-primary">Attempt Quiz</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row align-items-md-stretch">

            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid pt-5">
                    <h1 class="display-5 fw-bold">{{ topic.name }}</h1>
                    <p class="col-md-8 fs-4">Article made using markdown syntax</p>
                </div>
                <div id="container" class="bg-light border p-4">
                    {{topic.content}}
                </div>

            </div>



        </div>
        <script>
            var md = {{ topic.content | tojson }};
            var converter = new showdown.Converter(),
                html = converter.makeHtml(md);
            console.log(html)
            document.getElementById('container').innerHTML = html;
        </script>
</body>

</html>